.human
  padding: 200px 0
  overflow: hidden
  @media only screen and (max-width: 770px)
    padding: 50px 0 80px
  &__wrapper
    @media only screen and (max-width: 1200px)
      flex-direction: column-reverse
      align-items: center
  &__img 
    max-width: 660px
    position: relative
    img
      position: relative
      z-index: 1
      

.common
  position: relative
  overflow: hidden
  height: 100vh
  width: 100%
  z-index: 1
  &--desktop
    @media only screen and (max-width: 770px)
      display: none
  &__slide
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    box-sizing: border-box
    transition: all .4s ease-in-out
    @media only screen and (max-width: 770px)
      width: 302px
      position: relative
  &__container
    width: 1360px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 1
  &__wrapper
    position: relative
    & > *
      &:last-child
        margin-left: auto
        @media only screen and (max-width: 1320px)
          margin-left: 40%
        @media only screen and (max-width: 1200px)
          margin: 0 auto
  &__img-is-hidden
    transform: translateY(100px)
  &__img-top
    width: 100%
    height: 45vh
    background-position: 50% 5%
    background-size: cover
    background-repeat: no-repeat
    position: relative
    transition: all 2s ease
  &__img-bottom
    width: 20vw
    height: 50vh
    overflow: hidden
    background-position: 40% 5%
    background-size: cover
    background-repeat: no-repeat
    position: absolute
    top: -160px
    left: 0
    transition: all 1.9s ease-in-out
    @media only screen and (max-width: 1500px)
      width: 25vw
    @media only screen and (max-width: 1200px)
      display: none
      
.common-mobile
  display: none
  @media only screen and (max-width: 770px)
    display: block
  &__slide
    padding: 0 5px
    max-width: 302px
  &__img
    width: 100%
    height: 165px
    margin-bottom: 70px
    background-position: center
    background-size: cover
    background-repeat: no-repeat
   
.technology 
  padding: 150px 36px
  @media only screen and (max-width: 770px)
    padding: 150px 0 50px
  &__title
    @media only screen and (max-width: 770px)
      text-align: left
      margin-bottom: 20px
  &__wrapper
    padding: 150px 0
    max-width: 1640px
    margin: 0 auto
    &:not(:last-child)
      border-bottom: 3px solid $white
      @media only screen and (max-width: 770px)
        border: none
    @media only screen and (max-width: 770px)
      padding: 50px 0
      
    .container
      & > *
        &:nth-child(2)
          margin-left: 100px
          @media only screen and (max-width: 1150px)
            margin-left: 0
        &:first-child
          @media only screen and (max-width: 1150px)
            margin-bottom: 40px
      @media only screen and (max-width: 1150px)
        flex-direction: column
        align-items: flex-start

.split-section
  padding: 150px 23px
  min-height: 55vw
  @media only screen and (max-width: 770px)
    padding: 50px 23px
  &__container
    max-width: 1360px
    margin: 0 auto
    position: relative
  &__wrapper
    &:before
      content: ''
      height: 100%
      width: 11px
      background-color: #000
      position: absolute
      top: 0
      left: 0
      z-index: 1
    &:after
      content: ''
      height: 100%
      width: 11px
      background-color: #000
      position: absolute
      top: 0
      right: 0

.realism 
  padding: 150px 0 300px
  position: relative
  overflow: hidden
  @media only screen and (max-width: 770px)
    padding: 100px 0 150px
  &__img
    img
      position: relative
      z-index: 1
  &__wrapper
    margin: 150px 0 112px
    @media only screen and (max-width: 770px)
      margin: 70px 0
  &__item
    height: 136px
    @media only screen and (max-width: 770px)
      width: 100px
      margin: 0 auto
      text-align: center
  &__item-separator
    height: 136px
    width: 1px
    background-color: #7a7a7a
    position: relative
    z-index: 1
    @media only screen and (max-width: 770px)
      display: none
  &__item-img 
    height: 40px
    margin-bottom: 30px
    @media only screen and (max-width: 770px)
      height: 30px
      margin-bottom: 25px
    img 
      height: 100%
      position: relative
      z-index: 1
      

.help 
  background-color: $white
  padding: 173px 0
  position: relative
  @media only screen and (max-width: 770px)
    padding: 100px 0
  &__wrapper 
    width: fit-content
    margin: 150px auto 0
    & > *
      &:not(:last-child)
        margin-right: 40px
        @media only screen and (max-width: 1170px)
          margin-right: 0
          margin-bottom: 40px
    @media only screen and (max-width: 1170px)
      flex-direction: column
      margin: 70px auto 0
  &__btn
    width: 346px
    
    height: 60px
    color: $blue
    line-height: 0
    box-sizing: border-box
    padding: 22px 30px
    border-radius: 200px
    box-shadow: 0 0 10px 0 rgba(37, 43, 196, 0.37)
    transition: all .2s ease-in-out
    font-family: $main__font
    @media only screen and (max-width: 770px)
      width: 302px
    &:hover
      color: $white
      background-color: $dark-blue
      .help__btn-img 
        transform: translateX(5px)
      .help__btn-arrow-white
        opacity: 1
      .help__btn-arrow-blue
        opacity: 0
    &-img
      margin-bottom: 14px
      position: relative
      width: 15px
      transition: all .2s ease-in-out
  &__btn-arrow-blue
    position: absolute
    transition: all .2s ease-in-out
  &__btn-arrow-white
    position: absolute
    opacity: 0
    transition: all .2s ease-in-out
  

    
    
.section-header
  @media only screen and (max-width: 770px)
    justify-content: center
    text-align: center
.papers
  padding: 300px 0 150px
  @media only screen and (max-width: 770px)
    padding: 150px 0 75px
  &__wrapper 
    margin-top: 150px
    @media only screen and (max-width: 770px)
      margin-top: 70px
      display: flex
      flex-direction: column
      align-items: center
    
.paper
  width: 840px
  height: 367px
  padding: 0 20px
  @media only screen and (max-width: 1000px)
    width: 730px
    height: 320px
  @media only screen and (max-width: 770px)
    width: 301px
    height: 317px
    padding: 0
    &:not(:last-child)
      margin-bottom: 50px
  &__wrapper
    padding: 66px 115px
    box-sizing: border-box
    background-color: $blue
    border-radius: 20px
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    @media only screen and (max-width: 1000px)
      padding: 50px 75px
    @media only screen and (max-width: 770px)
      padding: 50px 40px
      text-align: center
      align-items: center
  &__logo 
    height: 40px
    img 
      height: 100%
      width: auto!important
    @media only screen and (max-width: 770px)
      height: 26px

.articles
  padding: 150px 0
  position: relative
  @media only screen and (max-width: 770px)
    padding: 75px 0
  &__wrapper 
    margin-top: 150px
    position: relative
    z-index: 1
    @media only screen and (max-width: 770px)
      margin-top: 66px
.article
  padding: 0 20px
  max-width: 680px
  @media only screen and (max-width: 770px)
    width: 302px
    height: 466px
    padding: 0 5px
  &__wrapper
    border-radius: 20px
    background-color: $white
    overflow: hidden
    @media only screen and (max-width: 770px)
      flex-direction: column
      align-items: center
      height: 100%
  &__info
    max-width: 361px
    margin: 0 68px 0 38px
    box-sizing: border-box
    @media only screen and (max-width: 770px)
      margin: 0
      padding: 50px 0 0
      text-align: center
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
  &__img
    width: 201px
    height: 219px
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    @media only screen and (max-width: 770px)
      width: 100%
      height: 181px
  &__info-wrapper
    @media only screen and (max-width: 770px)
      flex-direction: column
      align-items: center
      margin-top: 25px
  &__by
    span 
      color: $blue
  &__btn 
    position: relative
    width: 60px
    height: 60px
    border: 1px solid $blue
    border-radius: 50%
    cursor: pointer 
    transition: all .2s ease-in-out
    &:hover 
      background-color: $blue
      .article__btn-arrow--blue
        opacity: 0
    @media only screen and (max-width: 770px)
      position: absolute
      bottom: 50px
    &-arrow 
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 15px
      height: 15px
      transition: all .2s ease-in-out
      display: flex
      align-items: center
      justify-content: center
      img 
        width: 100%
        height: 100%

.contact-us 
  padding: 150px 0
  @media only screen and (max-width: 880px)
    text-align: center
  @media only screen and (max-width: 770px)
    padding: 75px 0 150px
  &__wrapper
    @media only screen and (max-width: 1100px)
      flex-direction: column-reverse
  &__block
    max-width: 800px
  &__img 
    max-width: 362px
    margin-left: 20px
    @media only screen and (max-width: 1100px)
      max-width: 208px
      margin-left: 0
      margin-bottom: 70px
    @media only screen and (max-width: 880px)
      margin: 0 auto 70px
.form
  margin-top: 150px
  @media only screen and (max-width: 880px)
    margin-top: 72px
    display: flex
    flex-direction: column
    align-items: center
  &__row 
    & > *
      &:not(:last-child) 
        margin-right: 40px
        @media only screen and (max-width: 880px)
          margin-right: 0
    margin-bottom: 40px
    @media only screen and (max-width: 880px)
      flex-direction: column
      width: 100%
  &__field
    position: relative
    @media only screen and (max-width: 880px)
      width: 100%
      &:not(:last-child)
        margin-bottom: 40px
  &__input,
  &__textarea
    border: none 
    outline: none 
    background-color: transparent 
    border-bottom: 1px solid $grey
    padding: 15px 0
    color: $white
    font-size: 15px 
    font-weight: normal 
    font-style: normal 
    font-stretch: normal 
    line-height: 1.27 
    letter-spacing: normal 
    transition: all .2s ease-in-out
    box-sizing: border-box
    @media only screen and (max-width: 880px)
      font-size: 13px
    &:focus 
      border-bottom: solid 1px $blue
  &__label
    position: absolute
    left: 0
    top: 40px
    font-size: 15px
    font-weight: 300
    font-style: normal
    font-stretch: normal
    line-height: 1.27
    letter-spacing: normal
    text-align: left
    color: $grey
    transition: all .1s ease-in-out
    @media only screen and (max-width: 880px)
      font-size: 13px
    &--is-active
      top: 10px
      font-size: 10px
      color: $white
      
  &__input 
    max-width: 240px
    @media only screen and (max-width: 880px)
      min-width: 100%
    &--modal
      max-width: 100%
      width: 100%
  &__textarea 
    resize: none 
    width: 100%
    height: 100px
  &__button 
    margin-top: 80px
    width: 108px
    height: 45px
    border-radius: 200px
    box-shadow: 0 0 20px 0 $blue
    border: solid 1px $blue
    background-color: transparent
    color: $white
    font-size: 16px
    font-weight: normal  
    font-style: normal  
    font-stretch: normal  
    line-height: 0  
    letter-spacing: normal  
    transition: all .2s ease-in-out
    cursor: pointer
    outline: none
    &:hover 
      background-color: $blue
    @media only screen and (max-width: 880px)
      margin: 50px auto 0


.modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, .95)
  transition: all .2s ease-in-out
  z-index: 9999
  &__wrapper
    max-width: 700px
    padding: 0 36px
  &__header
    margin-bottom: 10px
  &__close
    max-width: 40px
    position: absolute
    top: 50px
    right: 50px
    cursor: pointer
    opacity: .8
    transition: all .2s ease-in-out
    &:hover
      opacity: 1
    @media only screen and (max-width: 770px)
      max-width: 20px
      top: 60px
      right: 20px
  &--is-hidden
    opacity: 0
    visibility: hidden

.wpcf7-form
  margin-top: 50px
  position: relative
  

div.wpcf7-mail-sent-ok,
div.wpcf7-response-output
  border: none!important
  padding: 0!important
  margin: 20px 0 0!important
  

  
  
.circle 
  border-radius: 50%
  z-index: 0
  transition: all .01s ease-in-out
  &--1
    position: absolute
    left: -40px
    top: 50px
    width: 440px
    height: 440px
    background-color: $dark-blue
    @media only screen and (max-width: 450px)
      display: none
  &--2
    position: absolute
    left: 260px
    top: -10px
    width: 222px
    height: 222px
    background-color: $white
    @media only screen and (max-width: 450px)
      display: none
  &--3
    position: absolute
    left: -465px
    bottom: -120px
    width: 770px
    height: 770px
    background-color: $dark-blue
  &--4
    position: absolute
    right: -155px
    bottom: 20px
    width: 440px
    height: 440px
    background-color: $dark-blue
  &--5
    position: absolute
    left: 70px
    top: 500px
    width: 440px
    height: 440px
    background-color: $dark-blue
  &--6
    position: absolute
    left: -270px
    top: 170px
    width: 601px
    height: 601px
    background-color: #252525
    @media only screen and (max-width: 770px)
      display: none
  &--7
    position: absolute
    right: 340px
    bottom: 330px
    width: 374px
    height: 374px
    background-color: $dark-blue
    @media only screen and (max-width: 770px)
      display: none
  &--8
    position: absolute
    left: -240px
    top: -40px
    width: 541px
    height: 541px
    background-color: #88b6e4
    @media only screen and (max-width: 770px)
      display: none
