@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-Bold.woff2') format("woff2")
  font-weight: bold
  font-style: normal
@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-Medium.woff2') format("woff2")
  font-weight: 500
  font-style: normal
@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-Regular.woff2') format("woff2")
  font-weight: 400
  font-style: normal
@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-SemiBold.woff2') format("woff2")
  font-weight: 600
  font-style: normal

  