.pixel-perfect
  display: flex
  position: absolute
  justify-content: center
  top: 0
  left: 0
  right: 0
  margin: auto
  width: 100%
  pointer-events: none
  z-index: 999999

.pixel-perfect img
  display: none
  pointer-events: none
  flex: 0 1 auto
  opacity: .5
  max-width: initial

.pixel-perfect input:checked ~ img
  display: block

.pixel-perfect label
  display: block
  position: fixed
  bottom: 0
  left: 0
  margin: 5px
  width: 10px
  height: 10px
  background: silver
  pointer-events: all
  z-index: 999

.pixel-perfect input:checked ~ label
  background: red

