.header
  background-position: center 
  background-size: cover 
  background-repeat: no-repeat
  position: relative
  &__content
    padding: 233px 0 196px
    max-width: 770px
    @media only screen and (max-width: 770px)
      max-width: 480px
      margin: 0 auto
      display: flex
      flex-direction: column
      align-items: center
    & > * 
      &:nth-child(2)
        margin: 50px 0 55px
        @media only screen and (max-width: 770px)
          margin: 31px 0 165px
    @media only screen and (max-width: 770px)
      text-align: center


// Scroll effect 
.scroll
  display: block 
  position: absolute 
  right: 140px
  bottom: 166px
  @media only screen and (max-width: 770px)
    display: none
  & > *  
    display: inline-block 
    color: $white
    color: $white
  &__mouse
    position: relative 
    display: block 
    width: 22px 
    height: 39px 
    box-sizing: border-box 
    border: 1px solid $white 
    border-radius: 23px 
    & > *
      position: absolute 
      display: block 
      top: 9% 
      left: 50% 
      width: 2px 
      height: 5px 
      margin: -5px 2px 0 -1px 
      background: $white
      border-radius: 10px 
      animation: ani-mouse 2s linear infinite 

@keyframes ani-mouse  
  0%  
    opacity: 1 
    top: 29% 
  15%  
    opacity: 1 
    top: 70% 
  50%  
    opacity: 0 
    top: 70% 
  100%  
    opacity: 0 
    top: 29% 
