.footer 
  background-color: $blue
  padding: 71px 36px
  @media only screen and (max-width: 870px)
    padding: 100px 36px
  &__wrapper 
    max-width: 1640px
    margin: 0 auto
    @media only screen and (max-width: 870px)
      flex-direction: column
      align-items: center
      & > *
        &:first-child
          margin-bottom: 71px
        &:last-child
          flex-direction: column
          align-items: center
  &__inner-wrapper
    & > *
      &:not(:last-child)
        margin-right: 270px
        @media only screen and (max-width: 1300px)
          margin-right: 50px
        @media only screen and (max-width: 870px)
          margin-right: 0
  &__column
    @media only screen and (max-width: 870px)
      text-align: center
      &:not(:last-child)
        margin-bottom: 60px
  &__title
    font-size: 17px
    font-weight: 500
    line-height: 1.76
    margin-bottom: 31px
    font-family: $main__font
    color: $white
    @media only screen and (max-width: 870px)
      margin-bottom: 25px
  &__link
    font-size: 14px
    font-weight: normal
    line-height: 2.14
    font-family: $main__font
    color: $white
